[data-theme="light"] {
    /* --bodybgc: #F0F8FF; */
    --bodybgc: #FFF;
    --navbgc: linear-gradient(to right, #58AADD 0%, #DB5C7F 100%);
    --chatbgc: rgba(255, 255, 255, 0.5);
    --hisbgc: #f0f4f9;
    --df-ziji: #111;
    --df-002: rgba(0, 0, 0, 0.02);
    --df-005: rgba(0, 0, 0, 0.05);
    --df-01: rgba(0, 0, 0, 0.1);
    --df-02: rgba(0, 0, 0, 0.2);
    --df-03: rgba(0, 0, 0, 0.3);
    --df-04: rgba(0, 0, 0, 0.4);
    --df-05: rgba(0, 0, 0, 0.5);
    --df-06: rgba(0, 0, 0, 0.6);
    --df-07: rgba(0, 0, 0, 0.7);
    --df-08: rgba(0, 0, 0, 0.8);
    --df-09: rgba(0, 0, 0, 0.9);
    --df-10: rgba(0, 0, 0);
    --ziti-1: #000;
}

[data-theme="dark"] {
    --bodybgc: #1b1c1d;
    --navbgc: linear-gradient(to right, #58aadd80 0%, #DB5C7F80 100%);
    --chatbgc: rgba(255, 255, 255, 0.02);
    --hisbgc: #0f0f14;
    --df-ziji: #eee;
    --df-002: rgba(255, 255, 255, 0.02);
    --df-005: rgba(255, 255, 255, 0.1);
    --df-01: rgba(255, 255, 255, 0.2);
    --df-02: rgba(255, 255, 255, 0.3);
    --df-03: rgba(255, 255, 255, 0.4);
    --df-04: rgba(255, 255, 255, 0.5);
    --df-05: rgba(255, 255, 255, 0.6);
    --df-06: rgba(255, 255, 255, 0.65);
    --df-07: rgba(255, 255, 255, 0.7);
    --df-08: rgba(255, 255, 255, 0.8);
    --df-09: rgba(255, 255, 255, 0.9);
    --df-10: rgba(255, 255, 255);
    --ziti-1: #fff;
}