[data-theme="light"] {
    /* --bodybgc: #F0F8FF; */
    --bodybgc: #FFF;
    --navbgc: linear-gradient(to right, #58AADD 0%, #DB5C7F 100%);
    --chatbgc: rgba(255, 255, 255, 0.5);
    --hisbgc: #f0f4f9;
    --df-ziji: #111;
    --df-002: rgba(0, 0, 0, 0.02);
    --df-005: rgba(0, 0, 0, 0.05);
    --df-01: rgba(0, 0, 0, 0.1);
    --df-02: rgba(0, 0, 0, 0.2);
    --df-03: rgba(0, 0, 0, 0.3);
    --df-04: rgba(0, 0, 0, 0.4);
    --df-05: rgba(0, 0, 0, 0.5);
    --df-06: rgba(0, 0, 0, 0.6);
    --df-07: rgba(0, 0, 0, 0.7);
    --df-08: rgba(0, 0, 0, 0.8);
    --df-09: rgba(0, 0, 0, 0.9);
    --df-10: rgba(0, 0, 0);
    --ziti-1: #000;
    --dffx-04: rgba(255, 255, 255, 0.4);
    --dffx-07: rgba(255, 255, 255, 0.7);
    --dffx-1: rgba(255, 255, 255);
    --tongzhi: #555;
    color-scheme: light;
    --color-prettylights-syntax-comment: #57606a;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-fg-default: #1F2328;
    --color-fg-muted: #656d76;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;

    --hljs-fg: #24292e;
    --hljs-bg: #fff;
    --hljs-keyword: #d73a49;
    --hljs-title: #6f42c1;
    --hljs-attr: #005cc5;
    --hljs-string: #032f62;
    --hljs-builtin: #e36209;
    --hljs-comment: #6a737d;
    --hljs-tag: #22863a;
    --hljs-section: #005cc5;
    --hljs-bullet: #735c0f;
    --hljs-addition-fg: #22863a;
    --hljs-addition-bg: #f0fff4;
    --hljs-deletion-fg: #b31d28;
    --hljs-deletion-bg: #ffeef0;
}

[data-theme="dark"] {
    --bodybgc: #0d1117;
    --navbgc: linear-gradient(to right, #58aadd80 0%, #DB5C7F80 100%);
    --chatbgc: rgba(255, 255, 255, 0.02);
    --hisbgc: #0f1217;
    --df-ziji: #eee;
    --df-002: rgba(255, 255, 255, 0.02);
    --df-005: rgba(255, 255, 255, 0.1);
    --df-01: rgba(255, 255, 255, 0.2);
    --df-02: rgba(255, 255, 255, 0.3);
    --df-03: rgba(255, 255, 255, 0.4);
    --df-04: rgba(255, 255, 255, 0.5);
    --df-05: rgba(255, 255, 255, 0.6);
    --df-06: rgba(255, 255, 255, 0.65);
    --df-07: rgba(255, 255, 255, 0.7);
    --df-08: rgba(255, 255, 255, 0.8);
    --df-09: rgba(255, 255, 255, 0.9);
    --df-10: rgba(255, 255, 255);
    --ziti-1: #fff;
    --dffx-04: rgba(0, 0, 0, 0.4);
    --dffx-07: rgba(0, 0, 0, 0.7);
    --dffx-1: rgba(0, 0, 0);
    --tongzhi: #ccc;
    color-scheme: dark;
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-fg-default: #e6edf3;
    --color-fg-muted: #848d97;
    --color-fg-subtle: #6e7681;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;

    --hljs-fg: #c9d1d9;
    --hljs-bg: #0d1117;
    --hljs-keyword: #ff7b72;
    --hljs-title: #d2a8ff;
    --hljs-attr: #79c0ff;
    --hljs-string: #a5d6ff;
    --hljs-builtin: #ffa657;
    --hljs-comment: #8b949e;
    --hljs-tag: #7ee787;
    --hljs-section: #1f6feb;
    --hljs-bullet: #f2cc60;
    --hljs-addition-fg: #aff5b4;
    --hljs-addition-bg: #033a16;
    --hljs-deletion-fg: #ffdcd7;
    --hljs-deletion-bg: #67060c;
}